h1,
h2,
h3,
h4,
h5,
label {
    color: rgba(255, 255, 255, 0.85);
}

.light-text,
.modal-title,
.modal-body {
    color: rgba(255, 255, 255, 0.85);
}

.dark-text {
    color: #212529;
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: #040735;
}

.modal-footer {
    border-top: 1px solid rgb(2, 0, 19) !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.modal-header {
    border-bottom: 1px solid rgb(2, 0, 19) !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.pointer {
    cursor: pointer;
    text-decoration: none;
}

.accordion-header,
.accordion-button {
    background-color: #18005c !important;
    color: rgba(255, 255, 255, 0.85) !important;
}
.accordion-button::after {
    content: none !important;
}

.container {
    padding-bottom: 100px;
}

div.tab-pane.active > div.container {
    padding: 0!important;
}

ul.nav-pills > li.nav-item > button.nav-link.active {
    background-color: #212529!important;
}
ul.nav-pills > li.nav-item > button.nav-link {
    color: #fff!important;
}