h1,
h2,
h3,
h4,
h5,
label {
    color: rgba(255, 255, 255, 0.85);
}

.light-text,
.modal-title,
.modal-body {
    color: rgba(255, 255, 255, 0.85);
}

.dark-text {
    color: #212529;
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: #040735;
}

.modal-footer {
    border-top: 1px solid rgb(2, 0, 19) !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.modal-header {
    border-bottom: 1px solid rgb(2, 0, 19) !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.pointer {
    cursor: pointer;
    text-decoration: none;
}

.accordion-header,
.accordion-button {
    background-color: #212529 !important;
    color: rgba(255, 255, 255, 0.85) !important;
}
.accordion-button::after {
    content: none !important;
}

div.tab-pane.active > div.container {
    padding: 0 !important;
}

ul.nav-pills > li.nav-item > button.nav-link.active {
    background-color: #343a40 !important;
    border-radius: 0;
}
ul.nav-pills > li.nav-item > button.nav-link {
    /* background-color: rgba(33, 37, 41, 0.9); */
    color: #fff !important;
    border-radius: 0;
}

.switch-wrapper {
    position: relative;
}

.switch-wrapper > div {
    position: absolute;
    padding-bottom: 100px;
    width: 100%;
}

.popover {
    z-index: 1010 !important;
}

.form-check-label {
    width: 100%;
}
